<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <p>
                    Siguenos en nuestro <a href="{{@blog.url}}/rss/">
                        <i class="fa fa-rss"> RSS </i>
                    </a>
                </p>
                <p>
                    <a href="{{@blog.url}}/">{{@blog.title}}</a> &copy; {{date format="YYYY"}} - All Rights Reserved.
                </p>
                <p>
                    Proudly powered by <a href="http://ghost.org">Ghost</a>.
                </p>

            </div>
            <div class="col-md-4">
                <ul class="list-inline list-footer-social">
                    <li><a href="https://www.facebook.com/Tamalesconpasaporte"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://twitter.com/TCPasaporte"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="http://instagram.com/tamales_con_pasaporte"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="https://www.youtube.com/playlist?list=PLeedmGY8zVnDrluDHR6JG4otmwbThu8QV"><i class="fa fa-youtube"></i></a></li>
                </ul>
                <a id="go-top" href="#" class="go-top"><span class="glyphicon glyphicon-chevron-up"></span></a>
            </div>
        </div>
    </div>
</footer>